# General
.DS_Store
node_modules/
.env
*.log

# Java / Maven
backend/target/
backend/.idea/
backend/.classpath
backend/.project
backend/.settings/

# Python
venv/
__pycache__/
*.pyc

# Rust
backend-rust/target/**
backend-rust/.env
backend-rust/data/*.db

# Go
backend-go/bin/
backend-go/data/*.db

# Frontend
frontend/dist/
frontend/.vite/

# Runtime data
*.db
/tmp/
